*{
    margin: 0;
    padding: 0;
}

/* шрифти: */
.roboto-bold{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 96px;
    color: #000;
}
.roboto-b{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #000;
}
.roboto-regular{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000;
    width: 372px;
}
.roboto-footer{
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 17px;
    width: 372px;
}
.roboto-mono{
    font-family: "Roboto Mono", sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #000;
}
.roboto-mon{
    font-family: "Roboto Mono", sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #e0dede;
}
.roboto-decsription{
    font-family: "Roboto Mono", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #7c848b;
}

/* іншше: */
header{
    width: 1282px;
    height: 71px;
    margin: 0 auto;
    background-color:  rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header>a{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    text-decoration: none;
    padding: 20px;
}
.header-logo{
    width: 100px;
    height: 100px;

}
.home{
    width: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 137px;
}
.logo{
width: 400px;
height: 400px;
}
.rozd1{
    height: 100vh; 
    background-color: rgb(238, 238, 238)

}

body{
    .about-us>h2{  
        text-align: center;
    }
    .about-us>.blocks>img{
        width: 643px;
        height: 362px;    
        padding-top: 60px;
    }
    .about-us>.about>h3{
            text-align: center;
    }
    .about-us{
        height: 100vh;
        display: flex;
        flex-direction: column
    }
    .block1{
        border-radius: 50px;
        width: 590px;
        height: 194px;
        background-color: #D9D9D9;
        display: flex;
        transform: rotate(-4deg);
        align-items: center
    }
    .block2{
        border-radius: 50px;
        width: 689px;
        height: 186px;
        background: #00ae71; 
        transform: rotate(4deg);
        display: flex;
        align-items: center
    }
        .block3{
        border-radius: 50px;
        width: 590px;
        height: 194px;
        background-color: #D9D9D9;
        display: flex;
        transform: rotate(-4deg);
        align-items: center
    }
    .blocks{
        display: flex;
        justify-content: space-around


    }
    .blok123{
        display: flex;
        flex-direction: column
    }

}


.price1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 269px;
    background-color: #FFFFFF;
    border-radius: 47px;
}
.bl{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #38BA9B;
}

.bl>h2{
    margin-top: 2vh;
}

.price{
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.name-price{
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    font-family: "Roboto Mono", sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #000;
}


.desc1{
    margin-top: 10px;  
}
 
.spis{
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 20px;
text-align: center;
color: #000;
}
.price2{
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: red;
}
.button{
    background-color: #38BA9B;
    color: #FFFFFF;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
}

footer{
    background-color: #062440;
    height: 20vh; 
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
